<template>
    <v-app>
        <v-content>
            <v-container>
                <v-autocomplete
                    v-model="searchValue"
                    :loading="inputLoading"
                    :items="users"
                    :item-text="'login'"
                    :item-value="'login'"
                    :search-input.sync="search"
                    :no-filter="true"
                    prepend-inner-icon="$vuetify.icons.search"
                    @change="searchUser"
                    @blur="clearUsers"
                    class="search-input"
                    single-line
                    filled
                    rounded
                    dense
                    hide-no-data
                    hide-selected
                    hide-details
                    label="Start typing to find user"
                    >
                </v-autocomplete>
                <div
                    v-if="!loading"
                    class="user-card d-flex my-6">
                    <v-avatar>
                        <img
                            :src="user.avatar_url"
                            :alt="user.name"
                        />
                    </v-avatar>
                    <div class="info d-flex flex-column ml-2">
                        <div class="name">
                            {{ user.name ? user.name : 'NONAME' }}
                        </div>
                        <div class="repos">
                            puplic repos: {{ user.public_repos }}
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <v-data-table
                        v-if="repos.length !==0"
                        class="main-data-table"
                        :headers="headers"
                        :items="repos"
                        :group-desc="true"
                        :sort-desc="true"
                        :must-sort="true"
                        :loading="loading"
                        :loading-text="'Данные загружаются'"
                        :no-data-text="'Нет данных'"
                        hide-default-footer
                        mobile-breakpoint="0"
                        disable-pagination
                    >
                        <template v-slot:item.name="{ item }">
                            <a target="_blank" :href="item.html_url">{{ item.name }}</a>
                        </template>
                        <template v-slot:item.stargazers_count="{ item }">
                            {{ item.stargazers_count }}⭐
                        </template>
                        <template v-slot:footer="{  }">
                        <infinite-loading
                            @infinite="loadMoar"
                            force-use-infinite-wrapper=".table-container"
                            :identifier="noData"
                            spinner="spiral"
                            >
                        </infinite-loading>
                    </template>
                    </v-data-table>
                </div>
                <v-chip
                    v-if="repos.length !==0"
                    class="my-2"
                    >
                    {{ repos.length }} of {{ user.public_repos }}
                </v-chip>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import debounce from 'lodash/debounce';
const apiAdress = 'https://api.github.com';

export default {
    name: 'App',
    data: () => ({
        page: 2,
        noData: +new Date(),
        loading: true,
        inputLoading: false,
        searchValue: '',
        search: null,
        user: {},
        users: [],
        repos: []
    }),
    computed: {
        headers() {
            return [
                {
                    text: 'Name',
                    align: 'start',
                    sortable: true,
                    filterable: false,
                    value: 'name',
                    class: 'name-header',
                    width: '80%'
                },
                {
                    text: 'Stars',
                    align: 'center',
                    sortable: true,
                    filterable: false,
                    value: 'stargazers_count',
                    class: 'stars-header'
                }
            ];
        }
    },
    watch: {
        search(val) {
            if (val) {
                this.debouncedQuerySelections(val);
            }
        }
    },
    created: function() {
        this.debouncedQuerySelections = debounce(this.querySelections, 700);
    },
    methods: {
        async querySelections(val) {
            this.inputLoading = true;
            try {
                this.users = [];
                const resUsers = await fetch(`${apiAdress}/search/users?q=${val}&type=Users`);
                const usersJSON = await resUsers.json();
                if (usersJSON.total_count === 0) {
                    console.log('no users handling goes here');
                }
                this.users = usersJSON.items;
            }
            catch (e) {
                throw new Error('smth goes wrong');
            }
            this.inputLoading = false;
        },
        async searchUser(e) {
            this.loading = true;
            try {
                const resUser = await fetch(`${apiAdress}/users/${this.searchValue}`);
                this.user = await resUser.json();
                const resRepos = await fetch(`${this.user.repos_url}?per_page=9`);
                this.repos = await resRepos.json();
            }
            catch (e) {
                throw new Error('smth goes wrong');
            }
            this.loading = false;
        },
        async loadMoar($state) {
            const resRepos = await fetch(`${this.user.repos_url}?per_page=9&page=${this.page}`);
            resRepos.json()
                .then((data) => {
                    if (data.length) {
                        this.page += 1;
                        this.repos.push(...data);
                        $state.loaded();
                    }
                    else {
                        this.page = 2;
                        $state.complete();
                    }
                })
                .catch(function(reason) {
                    console.log(reason);
                });
        },
        clearUsers() {
            this.users = [];
        }
    }
};
</script>

<style lang="scss">
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min(500px, 100vw) !important;
    min-height: 100vh;
    background-color: #eee;
}

.search-input {
    flex: none !important;
    width: 100%;

    .v-input__slot {
        background-color: #fff !important;
    }
}

.search-button {
    color: #fff !important;
    background-color: #494CE9 !important;
}

.table-container {
    min-width: 100%;
    max-height: 240px;
    overflow-y: scroll;
    background-color: #ecf0f1;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

</style>
